@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');

:root{
    --color-font: #20252A;
    --default-padding: 7rem;
    --default-size: 1.5em;
    --default-spacing: 1em;

    --dark-white-bg: #EFF4F8;
    --white-bg: #FFFFFF;
    --dark-green-bg: #00AA68;
    --green-bg: #27e29a;
}

.default-model{
    align-items: center;
    display: flex;
}

*{
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: var(--dark-white-bg);
    font-size: 62.5%;
    transition: .3s;
}

body.dark{
    background-color: #1E2122;
    color: white;
}

span{
    font-size: var(--default-size);
}

.cadastro{
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.data-box{
    background-color: var(--white-bg);
    border-radius: 0 3em 0 0;
    min-height: 100vh;
    min-width: 600px;
}

.data-box h3{
    color: var(--color-font);
    font-size: 2.5em;
    margin: 0 auto;
    padding: 3.5em 0 1em 0;
    width: 350px;
}

body.dark .data-box,
body.dark .data-box h3,
body.dark input,
body.dark #faturamento,
body.dark .data-box span{
    background-color: #181A1B;
    color: white;
}

.form-box{
    color: var(--color-font);
    margin: 0 auto;
    width: 350px;
}

.form-box fieldset, 
.form-box #button-box,
.form-box input, 
.form-box #faturamento{
    border: 0;
}

.form-box input, #faturamento{
    border-radius: .5em;
    height: 50px;
    outline: 1px solid rgba(0,0,0,0.5);
    padding-left: var(--default-spacing);
    width: 100%;
}


.form-box input:hover, select:hover, .form-box .contact-box:hover{
    outline: 1px solid var(--dark-green-bg);
}

body.dark .contact-box svg{
    fill: #00AA68;
}

.contact-box span{
    margin-left: .25em;
}

.form-box input, 
.form-box #faturamento,
.form-box #button-box{
    font-size: var(--default-size);
}

#aviso-nome, 
#aviso-celular,
#aviso-email, 
#aviso-faturamento{
    margin: .5em 0 2em 0;
    font-size: 1.25em;
    color: red;
}

.form-box .legenda-faturamento{
    display: block;
    font-size: 1.3em;
    margin: -1.2em 0 1.2em 0;
    width: 100%;
}

.form-box #faturamento{
    background-color: #FFFFFF;
    padding-left: 10px;
}

.form-box .contact-content{
    justify-content: space-between;
    width: 100%;
}

.form-box .contact-box{
    border-radius: .5em;
    font-size: 1.2em;
    justify-content: center;
    outline: 1px solid rgba(0,0,0,0.5);
    padding: 1em;
    width: 48%;
}

.form-box .contact-box,
.form-box #button-box{
    cursor: pointer;
}

.form-box .contact-box img{
    margin-right: 5px;
    width: 30px;
}

.form-box #button-box{
    background-color: #69f3be;
    border-radius: var(--default-size);
    height: 50px;
    margin-top: var(--default-size);
    transition: .2s;
    width: 100%;
}

body.dark #button-box{
    color: white;
    background-color: #00AA68;
}

.form-box #button-box:hover{
    background-color: var(--green-bg);
}

.form-box input:focus{
    box-shadow: 0 0 10px var(--green-bg);
}

.info-box .info-more{
    width: 530px;
}

.info-box .info-more div{
    justify-content: space-between;
    padding: 0 0 var(--default-spacing) var(--default-size);
}

.info-box .company img{
    width: 150px;
}

.info-box .service .status{
    color: var(--dark-green-bg);
}

.info-box .service .status, 
.info-box .call .number-phone{
    font-size: var(--default-size);
}

body.dark .info-box .call .number-phone{
    color: #00AA68;
}

.maquininha{
    margin-bottom: -0.4em;
    width: 450px;
}

.beneficts-box{
    background: var(--color-font);
    border-radius: 0 0 var(--default-size) 0;
    color: var(--white-bg);
    padding: 3.2em;
    width: 380px;
}

.beneficts-box h3{
    font-size: 1.8em;
    margin-bottom: var(--default-size);
}

.beneficts-box .default-model img{
    margin-right: var(--default-spacing);
}

.beneficts-box div + div{
    margin-top: var(--default-size);
}

.toggle{
    position: absolute;
    top: 20px;
    right: 20px;
}

.toggle input[type="checkbox"]{
    height: 0;
    visibility: hidden;
    width: 0;
}

.toggle label{
    background-color: var(--green-bg);
    border-radius: 2em;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    transition: .3s;
    width: 55px;
}

.toggle label::after{
    background-color: var(--white-bg);
    border-radius: 2em;
    content: '';
    height: 25px;
    position: absolute;
    top: 2px;
    left: 3px;
    width: 25px;
    transition: .3s;
}

.cadastro-realizado{
    animation: 2s show;
    color: #00AA68;
    font-size: 1.5em;
    left: 35px; 
    padding: 10px;
    position: absolute;
    top: 10px;
    width: 300px;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateX(-90px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

body.dark label::after{
    left: 25px;
}

@media (max-width: 1230px){
    .data-box{
        min-width: 350px;
    }

    .cadastro{
        display: flex;
        justify-content: center;
    }

    .data-box h3, .form-box{
        width: 300px;
    }
}

@media (max-width: 825px){
    .data-box{
        width: 450px;
    }

    .info-box{
        display: none;
    }
}